<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ValidateStudent</servlet-name>
        <servlet-class>qwa.validation.ValidateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>qwa.validation.ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>qwa.database.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instructions</servlet-name>
        <servlet-class>qwa.database.Instructions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider</servlet-name>
        <servlet-class>qwa.database.Provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>qwa.database.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>qwa.database.Students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_db</servlet-name>
        <servlet-class>qwa.model.Admin_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_db</servlet-name>
        <servlet-class>qwa.model.Student_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_db</servlet-name>
        <servlet-class>qwa.model.Question_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instruction_db</servlet-name>
        <servlet-class>qwa.model.Instruction_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionInsert</servlet-name>
        <servlet-class>oes.controller.InstructionInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStudent</servlet-name>
        <servlet-class>oes.controller.LogoutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>oes.controller.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionInsert</servlet-name>
        <servlet-class>oes.controller.QuestionInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInsert</servlet-name>
        <servlet-class>qwa.validation.StudentInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateStudent</servlet-name>
        <url-pattern>/ValidateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instructions</servlet-name>
        <url-pattern>/Instructions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/Provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_db</servlet-name>
        <url-pattern>/Admin_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_db</servlet-name>
        <url-pattern>/Student_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_db</servlet-name>
        <url-pattern>/Question_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instruction_db</servlet-name>
        <url-pattern>/Instruction_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionInsert</servlet-name>
        <url-pattern>/InstructionInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStudent</servlet-name>
        <url-pattern>/LogoutStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionInsert</servlet-name>
        <url-pattern>/QuestionInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInsert</servlet-name>
        <url-pattern>/StudentInsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
